body
{
	font-family: Sans-Serif;
	margin:0px;
	padding:0px;
background: #ebebf4;
background: -moz-linear-gradient(top, #ebebf4 0%, #f9faff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebf4), color-stop(100%,#f9faff));
background: -webkit-linear-gradient(top, #ebebf4 0%,#f9faff 100%);
background: -o-linear-gradient(top, #ebebf4 0%,#f9faff 100%);
background: -ms-linear-gradient(top, #ebebf4 0%,#f9faff 100%);
background: linear-gradient(to bottom, #ebebf4 0%,#f9faff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebf4', endColorstr='#f9faff',GradientType=0 );
}

h1
{
	font-weight: normal;
}

img.imageThumbnail
{
	width: 150px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
}

div.imageThumbnail
{
	text-align: center;
	vertical-align: center;
	font-size: 28px;
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	color: rgba(0,0,0,0);
	border: solid 10px white;
	height: 100px;
}

div.imageThumbnail:hover
{
	opacity: 0.3;
}

div.dropTarget
{
	width: 82%;
	height: 56%;
	text-align: center;
	vertical-align: center;
	font-size: 1.3em;
	position: absolute;
	margin: 3%;
	padding:3%;
	top: 0;
	left: 0;
	opacity: 0;
	color: rgba(0,0,0,0);
	background-color: rgba(255,255,255,0);
	border: dotted 1px;
}

div.dropTarget:hover
{
	border: dotted 1px #AFAFAF;
	background-color: #F1F1F1;
	border-radius: 6px;
	color: rgba(0,0,0,1);
	opacity: 0.8;
	cursor: help;
}

div.imageLabel
{
	position: absolute;
	bottom: -12px;
	left: 0;
	width: 150px;
	overflow: hidden;
	font-size: 8px;
	color: black;
	text-align: left;
	margin: 0 0 2px 8px;
	white-space: nowrap;
}

img.undoButton
{
	width: 12px;
	height: 12px;
	position: absolute;
	top: 0;
	right: 8px;
	cursor: pointer;
	display: none;
}

#TemplateList
{
	padding: 0 5%;
}

.templateThumbnailContainer
{
	position: relative;
	width: 205px;
	height: 154px;
	margin: 5px;
	float: left;
}

.templateThumbnail
{
	width: 1024px;
	height: 768px;
	-webkit-transform-origin: 0 0;
	-webkit-transform: scale(0.2, 0.2);
	transform-origin: 0 0;
	transform: scale(0.2, 0.2);
}

.glassCover
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 205px;
	height: 154px;
	cursor: pointer;
}

#SelectorFrame
{
	width:30%;
	position: fixed;
	right: 0;
	border-left: 1px solid #bbbbbb;
	z-index: 1;
	background: white;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
}

.selector
{
	padding: 0px;
	width: 100%;
}

.selectorLabel
{
	color:#686868;
	background-color:#E7E7E7;
	float:left;
	text-align: center;
	width:100%;
	font-size:	1em;
  	letter-spacing: .1rem;
	border-bottom:1px solid #bbbbbb;
	white-space: nowrap;
	display: inline-block;
}

.selectorControl
{
	background-color:#FFFFFF;
	width:100%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	float:left;
}

.selectorControl input[type="text"]
{
	margin-top:3%;
	margin-left:3%;
	width: 94%;
}

form
{
	padding:1.5%;
	margin:1.5%;
	display:	flex;
}
.selectorControl label
{
	flex:1;
	text-align: center;
	padding:3%;
	font-size:1em;
}

.dragIcon
{
	position:fixed;
	top:0;
	right:0;
	margin-right:18%;
	margin-top:0.5%;
}

.dragIcon:hover
{
	cursor: -webkit-grab;
	cursor: grab;
}

.highlighted
{
	color:red;
}
.selectorControl input[type="radio"]
{
	display:none;
}


.selectorControl input[type="radio"]:checked + label
{
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
	border-bottom: 1px solid;
	color:#DB3340;
	background-color: #FDF2F5;
}

label:hover
{
	cursor: pointer;
	color:#DB3340;
}

.selectorLabelFullWidth
{
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.selectorControlFullWidth
{
	display: inline-block;
	vertical-align: middle;
	padding-bottom:2%;
	width:100%;
	padding-left:3%;
}



.textInput
{
	width: 170px;
}

#ToolbarFrame
{
	width:auto;
	position: fixed;
	top: 0;
	left: 0;
	height: 30px;
	padding: 5px;
}

#PreviewFrame
{
	float: left;
	position: fixed;
	top: 40px;
	left: 0;
	width: 3000px;
	height: 1500px;
	overflow-x: scroll;
}

.previewDiv
{
	position: relative;
	float: left;
	z-index: -1;
}

.miniPreviewDiv
{
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 0;
}

.closeButton
{
	position: absolute;
	top: 2%;
	right: 2%;
	display: none;
}

.preview
{
	position: absolute;
	overflow: hidden;
}

.toolbarButton
{
	margin-left:4px !important;
	width: 25px !important;
	height: 25px !important;
	background-size: 47px auto !important;
	background-repeat:no-repeat;
}

.toolbarButton:active
{
	border: inset 1px gray  !important;
}

.toolbarButton:disabled
{
	opacity: 0.5;
	border: none;
}

#ZoomInButton
{
	background-image: url('ZoomIn.png');

}

#ZoomOutButton
{
	background-image: url('ZoomOut.png');
}

#ToggleThumbnailsButton
{
	background-image: url('eye-icon.png');
	background-size: 22px auto !important;
}

#ProgressIndicatorMessageBox
{
	position: fixed;
	background-color: white;
	color: black;
	font-size: 28px;
	padding: 20px 10%;
	top: 40%;
	margin-top: -30px;
	margin-left: -25%;
	width: 30%;
	left: 50%;
	text-align: center;
	vertical-align: middle;
	border: solid 1px black;
	border-radius: 15px;
}

#ProgressIndicatorMessageBox img
{
	margin-top: 10px;
	width: 40px;
}

#DebugFrame
{
	font-size: x-small;
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 150px;
	overflow: auto;
	border: solid thin black;
	background: white;
}
